<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Remove .php da URL (opcional)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)\.php$ /$1 [L,R=301]
    
    # Redireciona requisições para o index.php se o arquivo/pasta não existir
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

<FilesMatch "\.php$">
    SetHandler application/x-httpd-php
</FilesMatch>

# Headers
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "https://leanacleto518.github.io"
    Header set Access-Control-Allow-Methods "GET, POST, OPTIONS"
    Header set Access-Control-Allow-Headers "Content-Type, Authorization"
</IfModule>
